@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>FixParser: Terms of Service</title>
</head>
<body>
	<div class="disclaimer-class">

	<h1>Terms of Service</h1>

	We may update the Terms in the future, and you will be able to find the most current version of this agreement at <a href="http://fixparser.com/Disclaimer">http://fixparser.com/Disclaimer</a>

	<blockquote></blockquote>

	1. PERSONAL NON-COMMERCIAL USE
	<blockquote>
	You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of FixParser services, use of FixParser, or access to FixParser.
	</blockquote>

	2. MODIFICATIONS TO SERVICE
	<blockquote>
	FixParser reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, FixParser (or any part thereof) with or without notice. You agree that FixParser shall not be liable to you or to any third party for any modification, suspension or discontinuance of FixParser services.
	</blockquote>

	3. ADVERTISEMENTS
	<blockquote>
	FixParser may display advertisements and promotions on the service. Such advertisements may be targeted to the content of information stored on the FixParser services. The manner, mode and extent of advertising by FixParser on its services are subject to change. As consideration for your use of FixParser, you agree that FixParser may place such advertising and that FixParser shall not be responsible or liable for any loss or damage of any sort incurred by you as a result of the presence of such advertisers on FixParser services or your subsequent dealings with advertisers.
	</blockquote>

	4. LINKS
	<blockquote>
	FixParser services may provide, or third parties may provide, links to other World Wide Web sites or resources. FixParser may have no control over such sites and resources and you acknowledge and agree that FixParser is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such sites or resources. You further acknowledge and agree that FixParser shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
	</blockquote>

	5. DISCLAIMER OF WARRANTIES
	<blockquote>
	YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
	<br/><br/>
		a. YOUR USE OF FIXPARSER IS AT YOUR SOLE RISK. FIXPARSER IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
		<br/><br/>
		b. TO THE MAXIMUM EXTENT PERMITTED BY LAW, FIXPARSER EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
		<br/><br/>
		c. FIXPARSER DOES NOT WARRANT THAT
		<blockquote>
		(i) FIXPARSER WILL MEET YOUR REQUIREMENTS,
		<br/><br/>
		(ii) FIXPARSER WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE,
		<br/><br/>
		(iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF FIXPARSER WILL BE ACCURATE OR RELIABLE,
		<br/><br/>
		(iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH FIXPARSER WILL MEET YOUR EXPECTATIONS, AND
		<br/><br/>
		(V) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.
		<br/>
		</blockquote>
		d. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF FIXPARSER IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.
		NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM FIXPARSER OR THROUGH OR FROM FIXPARSER SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.
		<br/><br/>
		e. YOU SHOULD NOT TREAT ANY OPINION EXPRESSED ON FIXPARSER AS A SPECIFIC INDUCEMENT TO MAKE A PARTICULAR INVESTMENT OR FOLLOW A PARTICULAR STRATEGY, BUT ONLY AS AN EXPRESSION OF AN OPINION.
		<br/><br/>
		f. NO DISCUSSION OR EVALUATION OF ANY PARTICULAR INVESTING STRATEGY ON THIS SITE CONSTITUTES A RECOMMENDATION TO READERS TO EMPLOY THE STRATEGY.
	</blockquote>
	6. LIMITATION OF LIABILITY
	<blockquote>
		YOU EXPRESSLY UNDERSTAND AND AGREE THAT FIXPARSER SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF FIXPARSER HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM:
		<br/><br/>
		(i) THE USE OR THE INABILITY TO USE FIXPARSER;
		<br/><br/>
		(ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM FIXPARSER;
		<br/><br/>
		(iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA;
		<br/><br/>
		(iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON FIXPARSER; OR
		<br/><br/>
		(v) ANY OTHER MATTER RELATING TO FIXPARSER.
	</blockquote>
	</div>
</body>
</html>



